<div class="stage">
  <div class="stage-heading">
    <div class="stage-title"><%= asset.title %> <% if asset.status == 0 && project.status == 1 %><button class="btn btn-warning btn-translate pull-right" onclick="translateAsset('<%= asset.id %>')">Translate</button> <% end %></div>
    <div class="stage-subtitle">Manage and Configure your Pig Latin translation projects.</div>
  </div>
</div>

<a class="btn btn-danger btn-lg btn-back" href="<%= back %>"><i class="fa fa-arrow-left"></i></a>

<div class="panel p-lg">

	<div class="asset-container">
		<button class="btn btn-copy btn-lg btn-info" data-clipboard-target=".asset-body-html div"><i class="fa fa-copy"></i> Copy Html</button>
		<div class="asset-body embed-responsive">
			<iframe class="asset-preview embed-responsive-item" src="/translator/asset/<%= asset.id %>/preview"></iframe>
		</div>
		<div class="asset-body-html"></div>
	</div>

</div>

<script>
	var decoded = $('<div/>').html('<%= asset.body.gsub( "\n", "" ) %>').text();
	var html = $('<div/>').html('<%= asset.body.gsub( "\n", "" ) %>');
	$('.asset-body-html').html(html);

	$(document).ready (function() {
		var $el = $('.footer');
		var diff = $(document).height() - $el.offset().top - $el.height() - 30; // Padding is not included in height
		$('.asset-body').height(diff+"px");
	});
</script>