<div class="stage">
  <div class="stage-heading">
    <div class="stage-title">API Information</div>
    <div class="stage-subtitle">Find out what's availible and how to use it.</div>
  </div>
</div>

<div class='container api-enpoints'>

  <div class="row">

    <div class="col-sm-6">

      <div class="panel api-endpoint">
        <h3>Fake Data - json <a class="btn btn-info btn-sm pull-right" href="/curl?api_uri=/api/fakedata&query={ :count => 5, :id => 'uuid', :name => 'name', :surname => 'surname', :username => 'username', :email => 'email', :description => 'sentence', :dob => 'date' }&host=<%= ENV["SERVER_HOST"] %><% if ENV["SERVER_HOST"] == 'localhost:3000' %>&protocol=http://<% end %>">Try It</a></h3>
        <h4 class="well well-sm">/api/fakedata</h4>
        <h5>Parameters:</h5>
        <ul>
          <li>count - number - default: 10 - optional</li>
          <li>{elements} - types - anynumber of elements you want returned and the type of element you would like it to be <br> ex: firstname=name&lastname=surname&email=email</li>
          <ul><li>types: uuid, number, date, name, surname, email, username, sentence</li></ul>
        </ul>
        <h5 class="clearfix">Example Result: <button class="btn btn-warning btn-sm pull-right api-refresh" data-endpoint="fakedata"><i class="fa fa-refresh"></i></button></h5>
        <pre class="fakedata result"></pre>
      </div>

      <div class="panel api-endpoint">
        <h3>Words - json <a class="btn btn-info btn-sm pull-right" href="/curl?api_uri=/api/words&query={ :words => ['verb','noun','animal','color','name'], :verbs => 3, :nouns => 2, :colors => 5, :animals => 3, :names => 1, :adjectives => 5 }&host=<%= ENV["SERVER_HOST"] %><% if ENV["SERVER_HOST"] == 'localhost:3000' %>&protocol=http://<% end %>">Try It</a></h3>
        <h4 class="well well-sm">/api/words</h4>
        <h5>Parameters: (must pass something to get a populated response)</h5>
        <ul>
          <li>Words - Array - of word types - optional <br> ex: words=['verb','noun','animal','color','name']</li>
          <li>{word types} - number - optional <br> ex: nouns=3&verbs=1&animals=4</li>
          <ul><li>word types: nouns, verbs, adjectives, colors, names, animals</li></ul>
        </ul>
        <h5 class="clearfix">Example Result: <button class="btn btn-warning btn-sm pull-right api-refresh" data-endpoint="words"><i class="fa fa-refresh"></i></button></h5>
        <pre class="words result well"></pre>
      </div>

    </div> <!-- col-sm-6 -->

    <div class="col-sm-6">

      <div class="panel api-endpoint">
        <h3>Password - json <a class="btn btn-info btn-sm pull-right" href="/curl?api_uri=/api/password&query={ :symbols => false, :length => 25 }&host=<%= ENV["SERVER_HOST"] %><% if ENV["SERVER_HOST"] == 'localhost:3000' %>&protocol=http://<% end %>">Try It</a></h3>
        <h4 class="well well-sm">/api/password</h4>
        <h5>Parameters:</h5>
        <ul>
          <li>length - number - default: 15 - optional</li>
          <li>symbols - boolean - default: true - optional</li>
        </ul>
        <h5 class="clearfix">Example Result: <button class="btn btn-warning btn-sm pull-right api-refresh" data-endpoint="password"><i class="fa fa-refresh"></i></button></h5>
        <pre class="password result"></pre>
      </div>

      <div class="panel api-endpoint">
        <h3>Passphrase - json <a class="btn btn-info btn-sm pull-right" href="/curl?api_uri=/api/password/phrase&query={}&host=<%= ENV["SERVER_HOST"] %><% if ENV["SERVER_HOST"] == 'localhost:3000' %>&protocol=http://<% end %>">Try It</a></h3>
        <h4 class="well well-sm">/api/password/phrase</h4>
        <h5 class="clearfix">Example Result: <button class="btn btn-warning btn-sm pull-right api-refresh" data-endpoint="passphrase"><i class="fa fa-refresh"></i></button></h5>
        <pre class="passphrase result"></pre>
      </div>

      <div class="panel api-endpoint">
        <h3>UUID - string <a class="btn btn-info btn-sm pull-right" href="/curl?api_uri=/api/uuid&query={}&host=<%= ENV["SERVER_HOST"] %><% if ENV["SERVER_HOST"] == 'localhost:3000' %>&protocol=http://<% end %>">Try It</a></h3>
        <h4 class="well well-sm">/api/uuid</h4>
        <h5 class="clearfix">Example Result: <button class="btn btn-warning btn-sm pull-right api-refresh" data-endpoint="uuid"><i class="fa fa-refresh"></i></button></h5>
        <pre class="uuid result"></pre>
      </div>

    </div> <!-- col-sm-6 -->

  </div> <!-- row -->

</div> <!-- container-fluid -->
