<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
    <title><%= @title.present? ? "#{@title} | Nretnil Apps" : "Nretnil Apps" %></title>
    <%= favicon_tag "na-logo-b.png" %>
    <%= stylesheet_link_tag 'bootstrap-alta.min' %>
    <%= javascript_include_tag 'third_party/jquery.min', 'third_party/livevalidation_standalone' %>
  </head>
  <body>

    <%= render "layouts/alta-navbar.erb", :layout => false %>
        
    <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => " container alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
    
    <div class="container flash-notice"></div>

    <%= yield %>

    <div class="footer">
      <div class='row'>
        <div class='col-sm-6'><div class=" copyright">Copyright &copy; <%= Date.today.year %> Nretnil Apps</div></div>
        <div class="col-sm-6">
          <ul class="footer-links">
            <li><a target="_blank" class="footer-links-link" href="http://www.marklintern.com"><i class="fa fa-home"></i> web</a></li>
            <li><a target="_blank" class="footer-links-link" href="http://www.marklintern.com/successbucket"><i class="fa fa-heart"></i> blog</a></li>
            <li><a target="_blank" class="footer-links-link" href="https://github.com/mlintern/padrino_app"><i class="fa fa-github"></i> code</a></li>
            <li><a target="_blank" class="footer-links-link" href="http://twitter.com/mlintern"><i class="fa fa-twitter"></i> twitter</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= render "base/help_modal.erb", :layout => false %>
    <%= render "base/info_modal.erb", :layout => false %>

    <%= javascript_include_tag 'bootstrap.min', 'third_party/underscore.min', 'third_party/clipboard.min', :application, :ajax %>

    <script type="text/javascript">
      new Clipboard('.btn-copy');
    </script>

    <% if !current_user.nil? && permission_check('user',false) %><%= erb :'base/todos', :layout => false %><% end %>

    <script type="text/javascript">$(document).ready(function(){$('body').addClass('nretnil-document-ready');});</script>

  </body>
</html>
