<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
    <title><%= @title.present? ? "#{@title} | Nretnil App" : "Nretnil App" %></title>
    <%= favicon_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'third_party/bootstrap.min', 'third_party/bootstrap-theme.min', 'font-awesome.min', :application, :todo %>
    <%= javascript_include_tag 'third_party/jquery.min', 'third_party/livevalidation_standalone' %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <% unless current_user.nil? %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% end %>
        <a class="navbar-brand" title="Nretnil Admin" id="tools" class="btn btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nretnil App</a>
        <% unless current_user.nil? %>
        <ul class="dropdown-menu main-nav" role="menu" aria-labelledby="tools">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <% if permission_check('curl',false) %><li><a href="/curl"><i class="fa fa-code"></i> Curl API Tool</a></li><%end%>
        </ul>
        <% end %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <% unless current_user.nil? %>
        <ul class="nav navbar-nav navbar-right">
          <% if permission_check('user',false) %><li><a data-toggle="modal" data-target="#todos"><i class="fa fa-list"></i></a></li><% end %>
          <% unless current_user.nil? %><li class="visible-xs"><a href="/"><i class="fa fa-home"></i> Home</a></li><% end %>
          <% if permission_check('curl',false) %><li class="visible-xs"><a href="/curl"><i class="fa fa-code"></i> Curl API Tool</a></li><% end %>
          <% if permission_check('admin',false) %><li><a href="/accounts"><i class="fa fa-users"></i></a></li><% end %>
          <li class="hidden-xs"><a class="small-user-photo"><img src="<%= user_property(current_user.id,'photo').value || '/images/default.png' %>" /></a></li>
          <li><a title="Edit your profile" class="navbar-nav-link" href="/accounts/edit/<%= current_user.id %>"><span class="account-name"><%= current_user.name %>&nbsp;<%= current_user.surname %></span></a></li>
          <li><a href="/sessions/destroy"><i class="fa fa-power-off"></i></a></li>
        </ul>
        <% end %>
      </div>
    </div>

    <div class='container main'>
      <div class='main-wrapper'>
        
        <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>
        
        <div class="flash-notice"></div>

        <div class='row'><%= yield %></div>

        <div class="footer-spacer"></div>
        
      </div>
    </div>

    <footer>
      <div class='footer-wrapper container'>
        <p class='copyright'>Copyright &copy; <%= Date.today.year %> Nretnil App</p>
        <ul class="footer-links">
          <li><a target="_blank" class="footer-links-link" href="http://www.marklintern.com"><i class="fa fa-home"></i> web</a></li>
          <li><a target="_blank" class="footer-links-link" href="http://www.marklintern.com/successbucket"><i class="fa fa-heart"></i> blog</a></li>
          <li><a target="_blank" class="footer-links-link" href="https://github.com/mlintern/padrino_app"><i class="fa fa-github"></i> code</a></li>
          <li><a target="_blank" class="footer-links-link" href="http://twitter.com/mlintern"><i class="fa fa-twitter"></i> twitter</a></li>
        </ul>
      </div>
    </footer>

    <%= javascript_include_tag 'third_party/bootstrap', 'third_party/underscore', :application, :ajax %>

    <%= erb :'base/todos', :layout => false %>

  </body>
</html>
