<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
    <title><%= @title.nil? || @title.empty? ? "Nretnil Apps" : "#{@title} | Nretnil Apps" %></title>
    <%= favicon_tag "na-logo-b.png" %>
    <%= stylesheet_link_tag 'bootstrap-alta.min', 'bootstrap-colorpicker.min', 'editor' %>
    <%= javascript_include_tag 'third_party/jquery.min' %>
  </head>
  <body>

    <div class='container'>

      <%= {:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe %>

      <div class="flash-notice"></div>

    </div>

    <%= yield %>

    <%= javascript_include_tag 'third_party/lodash.min', 'bootstrap.min', 'third_party/bootstrap-colorpicker.min', 'third_party/tinymce/tinymce.min', 'editor' %>

    <script type="text/javascript">$(document).ready(function(){$('body').addClass('nretnil-document-ready');});</script>

  </body>
</html>
