<div class="page-header">
  <h1>Account Editor <small>Edit <%= @account.username %>'s account information</small></h1>
</div>

<ul class="nav nav-tabs nav-mobile">
  <% if admin? %><li> <a href="/accounts"><i class="fa fa-users"></i></a></li><% end %>
  <% if admin? %><li class="pull-right"> <a href="/accounts/new"><i class="fa fa-user-plus"></i></a></li><% end %>
  <li class="active"> <a href="/accounts/edit/<%= account.id %>"><i class="fa fa-user"></i></a></li>
</ul>
<div class="tabs-content">
	<div class="row">
		<div class="col-sm-4">
			<div class="thumbnail">
	      <img class="user-photo" src="<%= photo[:value] %>" alt="User Photo">
	      <div class="caption">
	        <input type="text" class="form-control photo-url" value="<%= photo[:value] %>" />
	        <p><button onclick="updatePhoto()" class="btn btn-default" role="button">Update</button></p>
	      </div>
	    </div>
		</div>
		<div class="col-sm-8 user-info" data-user-id="<%= account.id %>">
		  <% form_for :account, url(:accounts, :update, :id => @account.id), :method => :put, :class => 'form-horizontal' do |f| %>
		    <%= erb :"accounts/form", :layout => false,  :locals => { :f => f, 'user' => account || nil } %>
		  <% end %>
		</div>
  </div>
</div>
